<%- model_class = Event.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% unless @events.empty? %>
      <% @events.each do |event| %>
        <tr id=<%= "event_#{event.id}" %>>
          <td><%= link_to event.id, event_path(event) %></td>
          <td><%= event.name %></td>
          <td><%=l event.created_at %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan=3 id="no_events">You have no events.  Get started <%= link_to 'here.', new_event_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_event_path,
            :class => 'btn btn-primary' %>
