<%= form_for [@event, @address], :html => { :class => 'form-horizontal', :id => 'event_address_form' } do |f| %>
  <div class="control-group">
    <%= f.label :street1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :street1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :street2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :street2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zip_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :zip_code, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary', :id => 'submit_event_address_form' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_path, :class => 'btn' %>
  </div>
<% end %>
