<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1 id='invitee_name'><%= @invite.name %>!</h1>
    <div id="event_details"><%= @event.user.name %> has invited to attend <%= @event.name %> at <%= @event.full_address%> beginning at <%= @event.start_time %>.</div>
    <div id="restaturant_picker">Vote on which restaurant you want food from:
      <ul>
        <% @event.restaurant_options.each do |ro| %>
          <li><%= link_to ro.name, vote_for_restaurant_url(invite_id: @invite.id, option_id: ro.id), id: "restaurant_#{ro.id}" %></li>
        <% end %>
      </ul>
    </div>
    <div>Hope to see you there!</div>
  </body>
</html>